

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
}

#form{
    margin-right: 20px;
}


.remove-item{
    color:red;
    font-size: large;
    margin-left: 30px;
    cursor: pointer;
}