*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --shadow: 2px 2px 5px rgba(0,0,0,.5)
}

nav{
    height: 60px;
    background: gray;
    /* background: rgba(238, 238, 238, 0.541); */
    display: flex;
    justify-content: space-around;
    align-items: center;
/* position: fixed;
width: 100%; */
}
nav .cart-icon{
    color: #333;
    font-weight: bold;
    cursor: pointer;
    /* z-index: 100; */
}

/* bg img text */
.bg-img h3{
    font-size: 2rem;
}
.cart-drop{
    display: none;
    width: 300px;
    background: rgba(128, 128, 128, 0.753);
    min-height: 160px;
    margin-right: 20px;
    padding: .5rem;
    position: fixed;
    top:60px;
    right: 0;
    z-index: 100;
}

.active{
    display: block;

}

.remove{
    color:red;
    font-size: bold;
}

.btn{
    background: #03A9F4 ;
    color: #fff;
    font-size: large;
    padding: .5rem 0;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    /*left: 20px;
    bottom: 10px; */
    width: 80%;
    margin-top: 20px;
}
.btn:hover{
    box-shadow: var(--shadow);
}

.container{
/* width: 80%;
margin: auto; */
display: flex;
justify-content: center;
align-items:center;
flex-direction: row;
position: relative;
}
main h2{
    text-align: center;
    margin-bottom: 20px;

}

.item{
    width: 240px;
/* border: 1px solid red; */
box-shadow:var(--shadow);
margin: 0 20px 50px;
}
.item .card-info{
    padding: 20px;

}
.item .card-info p{
    margin: 10px 0;

}
.item img{
    width: 100%;
    height: 120px;
}
.item .price{
    margin: 10px 0;

    display: flex;
    justify-content: space-between;
}
.item .price .discount{
    font-weight: bold;
    margin-bottom: 10px;
}

.item div a{
    text-align: center;
    margin-top: 30px;
    width: 100px;
    background: rgb(38, 172, 235);
    padding: .5rem 1rem;
    border-radius: 6px;
    border: none;
    color:#fff;
    /* font-size: large; */
    font-weight: bold;
}

/* =====main backgroung ====== */

.bg-img{
    background:url('img/main-bg.jpg') center/cover no-repeat;
    height: 250px;
    margin-bottom: 30px;
    background: fit-content;
    display: flex;
    justify-content: center;
    align-items:center;
    /* position: fixed;
    width: 100%; */
}

