

body{
    min-height: 100vh;
    background: linear-gradient(90deg, green, orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    background: #fff;
    height: 300px;
    padding: 2rem;
    border-radius: 6px;
}
#form{
    border:1px solid #c0c0c0;
}


label{
    margin-bottom: 5px;
    width: 100%;
display: block;

}
#form input, textarea{
    margin-bottom: 10px;
    border-radius: 4px;
    /* border:none; */
    width: 100%;
    padding: .5rem 0 ;
    border: 1px solid  #c0c0c0 ;
    padding-left: 10px;
    background: #eee;
}

input.error{
    border:1px solid red;
}

.btn, #send{
    margin-top: 30px;
    padding: .6rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.btn:active{

    transform: translate(2px, 2px);
}

#send{
    background:red;
    cursor: pointer;

}
#send.disabled{
    background: #c0c0c0;
    
}
#reset{
    background: blue;
    cursor: pointer;

    float: right;
}